<h1>{{title}}</h1>

<div class="container">
<table class="table table-striped">
  <thead  class="table-dark">
    <tr>
     
      <td>Niveau</td>
      <td>Batiment</td>
      <td>Salle</td>
      <td>Nombre d'éléves</td>
      <td>Liste des éléves</td>
    </tr>
  </thead>
    <tr *ngFor="let classe of classes">

      <td>{{classe.niveau}} </td>
      <td>{{classe.batiment}}</td>
      <td>{{classe.salle}}</td>
      <td>{{classe.students.length}} </td>
      <td>
        <table>
          <thead>
            <tr>
              <td>Name</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let std of classe.students">
              <td>
                {{std}}
              </td>
            </tr>
          </tbody>
        </table>
      </td>
      
    </tr>
  <tbody>

  </tbody>
  
</table>
</div>
<ul *ngFor="let classe of classes ">
  <ol >
    {{classe.niveau}} 
      <ul *ngFor="let std of classe.students"> 
        <ol>{{std}}</ol>
      </ul>
  </ol>
</ul>
