<div class="container" id="home">
    <h2 id="title">Lycée D'excellence de Dakar</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">La Liste des classe</h5>
            <p class="card-text">la meilleure ecole du Sénégal</p>
            <a routerLink="/rooms-list" 
               routerLinkActive="activebutton"
               ariaCurrentWhenActive="page" class="btn btn-primary">Afficher</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">La Liste des éléves</h5>
            <p class="card-text">L'excellence d'abords</p>
            <a routerLink="/students-list" 
               routerLinkActive="activebutton"
               ariaCurrentWhenActive="page" class="btn btn-primary">Afficher</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  